.Clusters-title {
    text-transform: capitalize;
    font-weight: 900;
}

.Clusters-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    justify-items: stretch;
    padding: 20px;
    gap: 20px;
}

.Clusters-list>* {
    flex: 0 0 350px;
    height: 375px;
}

.Clusters-cancel-filter {
    position: fixed;
    bottom: 60px;
    right: 60px;

    width: 60px;
    height: 60px;
    border-radius: 50%;

    border: none;
    background-color: #000;
    color: #fff;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    opacity: 0.4;
    transition: opacity 0.3s;
}

.Clusters-cancel-filter:hover {
    opacity: 1;
}

@media (max-width: 800px) {
    .Clusters-cancel-filter {
        opacity: 0.8;
        bottom: 30px;
        right: 30px;
    }
}