.App-nav {
    position: fixed;
    top: 0;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
}

.App-nav-title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    height: 100%;
    text-decoration: none;
    color: #000000;
}

.App-nav-title-icon {
    height: 40px;
}

.App-nav-title-text {
    font-size: 1.5em;
    font-weight: 900;
    margin: 0;
}

.App-nav-list {
    position: fixed;
    top: 10px;
    left: 20%;
    width: 60%;
    height: 40px;


    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.5em;
    font-weight: 700;
}

.App-nav-item {
    padding: 10px;
}

.App-nav-item * {
    color: #000000;
    text-decoration: none;
    text-transform: capitalize;
}

.App-nav-item *:hover {
    color: #000000;
    text-decoration: underline;
}

.App-nav-search {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
    height: 100%;
    background-color: #f0f0f0;

    border-radius: 5px;

    padding: 10px;
}

.App-nav-search-icon {
    font-size: 1.5em;
    cursor: pointer;
}

.App-nav-search-input {
    border: none;
    background-color: #f0f0f0;
    font-size: 1.2em;
    font-weight: 700;
    width: 200px;
    transition: width 0.3s;
}

.App-nav-search-input:focus {
    outline: none;
}

.App-nav-menu {
    display: none
}

.App-nav-button {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

.overlay.open {
    display: block;
}

@media (max-width: 1100px) {
    .App-nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        padding: 0;
        width: 100%;
        z-index: 2;
    }

    .App-nav-menu {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-bottom: 10px;
    }

    .App-nav-title {
        justify-content: center;
        padding: 10px 0;
    }

    .App-nav-search {
        display: none;
    }

    .App-nav-search.open {
        display: flex;
        justify-content: center;
        margin: 0 15px 5px 15px;
        width: calc(100% - 80px);
    }

    .App-nav-search-input:focus {
        width: 100%;
        transition: width 0.3s;
    }

    .App-nav-list {
        display: none;
    }

    .App-nav-item {
        padding: 0;
        text-align: center;
        list-style-type: none;
        font-size: 1.2em;
        font-weight: 700;
    }

    .App-nav-button {
        display: block;

        position: fixed;
        top: 15px;
        left: 20px;

        background-color: transparent;
        border: none;
        cursor: pointer;

        font-size: 1.8em;
    }
}