.link-card-edit {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: var(--button-gray-text-color);
  gap: 5px;
  font-size: 1.5rem;
  width: 100%;
  cursor: pointer;
}

.link-card-edit:hover {
  color: var(--button-gray-text-hover-color);
  transition: color 0.3s;
}

.link-card-edit-delete {
  color: var(--button-red-text-color);
  background-color: var(--button-red-bg-color);
  padding: 0.5rem;
  margin: 4px;
  border-radius: 5px;
}

.link-card-edit-delete:hover {
  background-color: var(--button-red-bg-hover);
  box-shadow: 0 0 10px var(--shadow-small);
  transition: box-shadow 0.1s;
}
