.link-card-edit {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: #666666;
  gap: 5px;
  font-size: 1.5rem;
  width: 100%;
  cursor: pointer;
}

.link-card-edit:hover {
  color: black;
  transition: color 0.3s;
}

.link-card-edit-delete {
  color: white;
  background-color: rgba(255, 0, 0, 0.5);
  padding: 0.5rem;
  margin: 4px;
  border-radius: 5px;
}

.link-card-edit-delete:hover {
  background-color: rgba(255, 0, 0, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.1s;
}
