.App {
  text-align: center;
  padding-top: calc(80px);
}

.App-header {
  background-color: #ffffff;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}