.Clusters-title {
    text-transform: capitalize;
    font-weight: 900;
}

.Clusters-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}