.Confirm-message {
  font-size: 1.2rem;
  font-weight: 700;
}

.Confirm-button-pair {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.Confirm-button {
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 700;
}

.Confirm-button:hover {
  box-shadow: 0 0 10px var(--shadow-big-color);
  transition: box-shadow 0.1s;
}

.Confirm-button-cancel {
  background-color: var(--button-dark-bg-color);
  color: var(--button-dark-text-color);
}

.Confirm-button-ok {
  background-color: var(--button-light-bg-color);
  color: var(--button-light-text-color);
}
