.Login-title {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 900;
}

.Login-input {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 1fr;

  align-items: center;
  justify-content: center;
}

.Login-input input {
  font-size: 1rem;
  padding: 0.5rem;

  border: none;
  border-radius: 5px;
  background-color: var(--input-bg-color);

  border: 2px solid transparent;
}

.Login-input input:focus {
  outline: none;
  border-bottom: 2px solid var(--input-border-color);
}

.Login-input label {
  font-size: 1.2rem;
  font-weight: 700;
}

.Login-button {
  font-size: 1rem;
  padding: 0.5rem;
  background-color: var(--button-dark-bg-color);
  color: var(--button-dark-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 700;
}

.Login-button:hover {
  box-shadow: 0 0 10px var(--shadow-big-color);
  transition: box-shadow 0.1s;
}

.Login-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;

  color: var(--text-color);
  background-color: var(--bg-color);
  border: none;
}
