.Popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--shadow-big-color);

  display: flex;
  flex-direction: column;
  gap: 20px;

  z-index: 10;
}
